@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Passion+One:wght@400;700;900&display=swap');

:root{
    --fonte: Verdana, Geneva, sans-serif;
    --fonte1: 'Passion One', sans-serif;
    --fonte2: 'Caveat', cursive;
}


*{
    padding: 0;
    margin: 0;
}

html, body{
    min-height: 100vh;
}

header{
    background-color: black;
    font-family: var(--fonte1);
    color: white;
    text-align: center;
}

header > h1{
    font-size: 10vw;
    font-variant: small-caps;
    padding-top: 50px;
}

header > h2{
    font-size: 15px;
    padding-bottom: 50px;
    font-family: var(--fonte);
}

header a{
    color: white;
    text-decoration: none;
}

header a:hover{
    text-decoration: underline;
}

section{
    font-family: var(--fonte2);
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 5vh;
    line-height: 60px;
    font-size: 3.5vw;
    font-weight: bold;
    font-style: italic;
}

#imagem1{
    background-image: url('imagens/background001.jpg');
    background-color: black;
    background-size: cover;
    color: white;
    background-attachment: fixed;
    
}

#imagem2{
    background-image: url('imagens/background002.jpg');
    background-color: black;
    background-size: cover;
    color: white;
    background-attachment: fixed;
    text-shadow: 1px 1px 1px black;
}

.imagem > p{
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.308);
    padding: 10px;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 8px;
    font-size: 18px;
}