@charset "UTF-8";

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 1
}

:root{
    --cor1: #4C5FD5;
    --cor2: #dadbf1;
    --cor3: #000000;
    --cor4: #fff;
}

*{
    margin: 0;
    padding: 0;
    font-family: "Inter", Arial, Helvetica, sans-serif;
}

header{
    background-color: var(--cor3);
    color: var(--cor4);
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 70px;
}

header p{
    font-size: 12px;
}

header a{
    border: 1px solid white;
    border-radius: 6px;
    padding: 8px 15px;
    font-size: 12px;
}

a#sign-in{
    background-color: var(--cor1);
    border: 2px solid var(--cor1);
}

a{
    color: white;
    text-decoration: none;
}

div#searchbar{
    background-color: var(--cor2);
}

main{
    display: flex;
    flex-flow: row wrap;
    background-color: var(--cor4);
    color: var(--cor3);
    padding: 100px;
}

main > article{
    padding-bottom: 50px;

}

main > article > summary{
    color: var(--cor1);
}

footer{
    background-color: var(--cor3);
    color: var(--cor4);
}